.buttons {
    margin: 1rem 0;
}
.buttons button {
    margin: 0 0 0 0.4rem;
}

.list-group-condensed li {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.page-heading {
    margin: 0 0 1.5rem 0;
}

a.navbar-brand {
    font-style: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    /* border: 1px solid #eee; */
    width: 10rem;
    line-height: 2.5rem;
}

.grid-item-text {
    /* border: 1px solid #eee; */
    display: inline-block;
    vertical-align: middle;
    width: 6.5rem;
    height: 100%;
    font-size: 0.9rem;
    line-height: normal;
    overflow: hidden;
}

.grid-item-control {
    /* border: 1px solid #eee; */
    display: inline-block;
    vertical-align: middle;
    width: 3.25rem;
    font-size: 0.9rem;
    line-height: normal;
}