.buttons {
    margin: 1rem 0;
}
.buttons button {
    margin: 0 0.5rem;
}

.page-heading {
    margin: 0 0 1.5rem 0;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    /* display: "inline-grid"; */
    /* grid-template-columns: "200px 200px 200px 200px"; */
    grid-template-columns: auto auto auto auto;
    grid-gap: "7px";
    margin-bottom: "20px"; 
}

.grid-item {
}  