
.protected-layout a {
    color: #212529;   
}

.protected-layout {
    font-size: smaller !important;
}

.protected-layout .btn {
    font-size: smaller !important;
}

.btn-nowrap {
    white-space: nowrap;;
}

.buttons {
    margin: 1rem 0;
}
.buttons button {
    margin: 0 0 0 0.4rem;
}

.icon-add-activity, .icon-add-activity:hover, .icon-add-activity:active {
    font-size: 1.5rem;
    text-decoration: none;
}

.list-group-condensed li {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.page-heading {
    margin: 0 0 1.5rem 0;
}

a.navbar-brand {
    font-size: 1rem;
}

.form-check-inline .form-check-label {
    margin: 2px 5px 0 2px;
}

/** css grid **/

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid #eee;
}

.grid-item {
    width: 9rem;
    height: 4rem;
    position: relative;
    font-size: 0.8rem;
    line-height: normal;
    /*line-height: 2.5rem;*/
}

.grid-item-text {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*width: 6.5rem;*/
    /*height: 100%;*/

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
}


.grid-item-btn, .grid-item-icon {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*line-height: normal;*/
}
.grid-item-btn {
    width: 4.25rem;
}
.grid-item-icon {
    width: 1.25rem;
}